@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
body {
  /* font-family: "Ephesis", cursive; */
}

.container {
  width: 600px;
  margin: 30px auto;
  background: #ddd;
  padding: 20px;
}

.title {
  font-family: "Ephesis", cursive;
  font-size: 36px;
}

.para {
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.btn {
  padding: 5px 10px;
  text-transform: uppercase;
}
.primary-btn {
  background: blue;
  color: black;
}
.secondary-btn {
  background: #000;
  color: #fff;
}

strong:hover {
  cursor: pointer;
  background-color: green;
}
