@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
body {
  /* font-family: "Ephesis", cursive; */
}

div {
  background: green;
  width: 200px;
  margin: 100px;
  outline: 10px dashed yellow;
  border: 5px ridge red;
  padding: 10px;
}
